.top_Heading{
 color:black;
}
.container-fluid{
  border: 1px solid #D8D8D8;
	min-height: 70px;
	padding: 20px 0px 10px 0px;
}
body{
	background-color: #E8E8E8;
}
.main{
	background-color:white;
	margin-top: 20px;
	box-shadow: 1px 1px 1px 1px #DCDCDC;
	padding: 50px 50px 50px 50px;
}
.rrates{
	color:gray;
	font-size:9px;
}
div.new2{
  border-top-style:solid;
	border-color:width:black;
	border-width:1px;
}
.fixed{
	margin-top:60px;
	font-weight:bold;
}
.fixed2{
	margin-top:30px;
	font-weight:bold;
	color:black;
}
.between{
	margin-top:60px;
	font-weight:normal;
}
.bmf{
	margin-top:60px;
	font-weight:bold;
}
.companyReg{
	margin-top:30px;
	font-weight:bold;
}
.new3{
	border-top-style:solid;
	border-color:width:black;
	border-width:1px;
	margin-top:150px;
}
.age{
	color:gray;
	font-size:9px;
}
.numbering{
	margin-top:10px;
}
.value1{
	font-weight:bold;
}
.start{
	font-weight:bold;
	color:black;
}
.appList{
	margin-left:18px;
}
.text{
	font-weight:normal;
}
.onne{
	margin-left: 300px;
}
